<h2>Products</h2>

<ul>
  <% cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>

<h2>Add Product To Cart</h2>

  <%= form_tag ({controller: "products", action: "add", method: "GET"}) do %>
    <input name="product">
    <input type=submit value='add to cart'>
<% end %>